/* Styles généraux */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background: url(FOND.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer le contenu verticalement */
    flex-direction: column; /* Aligner les éléments verticalement */
}

/* Bannière */
.banniere {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    height: 100px;
    z-index: 10;
}

/* Logo dans la bannière */
.logo {
    width: 60px;
    height: auto;
    margin-left: 80px;
    margin-bottom: 10px;
}

/* Nom de l'entreprise dans la bannière */
.nom {
    width: 90px;
    height: auto;
    margin-left: -30px;
    margin-right: 80px;
}

/* Menu de navigation dans la bannière */
.tab-container {
    display: flex;
    margin: 0px 20px;
}

.tab-button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 20px 25px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease;
}

.tab-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4285f4; /* Couleur du soulignement */
    transition: width 0.3s ease;
}

/* Effet de survol pour le bouton */
.tab-button:hover::after {
    width: 100%; /* Soulignement au survol */
}

.tab-button:hover {
    color: #4285f4; /* Changement de couleur au survol */
}

/* Conteneur principal pour le formulaire et autres sections */
.main-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
    margin-top:238vh; /* Ajoute de l'espace en haut */
    margin-bottom: auto;
    position: relative;
    transform: translateY(0); /* Centré sans décalage */
    transition: width 0.3s ease, padding 0.3s ease;
}

/* Titres */
h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2, h3 {
    color: #555;
    margin-top: 20px;
}

.forfaits {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    margin: 15px 0;
    display: flex;
}

/* Forfaits et Options */
.forfaits-options, .contact-form {
    margin-top: 20px;
}

.forfaits, .options {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

label {
    margin: 15px 0;
    display: flex;
}

/* Boutons d'options */
.optionButton {
    padding: 8px 16px;
    font-size: 16px;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

/* Classe pour changer la couleur du bouton */
.white {
    background-color: rgb(184, 184, 184) !important;
}

/* Couleur de fond par défaut pour les boutons non sélectionnés */
.optionButton:not(.white) {
    background-color: rgb(255, 255, 255);
}

/* Formulaire de contact */
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    font-weight: bold;
    color: #333;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
    height: 5rem;
}

#sendEmailButton {
    background-color: #8b00a4;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

#sendEmailButton:hover {
    background-color: #7a008e;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    border: 0.5px solid #8b00a4;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
    cursor: pointer;
}

/* Section de contact */
.contact {
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.contact h2 {
    margin-bottom: 40px;
}

.contact p {
    font-size: 18px;
    color: white;
}

/* Pied de page */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
}

/* Contenu du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .triangle {
    transform: rotate(180deg);
}

/* Media Queries pour la responsivité */


/* Écrans de largeur maximale de 2560px (ordinateur fixe) */
@media (max-width: 2560px) {
    .main-container{
        margin-top: 1300px;
    }
}
/* Écrans de largeur maximale de 1024px (tablettes) */
@media (max-width: 1024px) {
    .banniere {
        height: auto; /* La hauteur s'adapte automatiquement */
        flex-direction: column; /* Empile les éléments verticalement sur les petits écrans */
        align-items: center; /* Centre les éléments */
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 50px; /* Réduit la taille du logo pour les petits écrans */
    }

    .nom {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 90px; /* Permet au texte de s'ajuster à la largeur */
    }

    .tab-container {
        flex-direction: row; /* Les onglets sont sur une seule ligne */
        flex-wrap: wrap; /* Permet aux onglets de passer à la ligne suivante */
        justify-content: center; /* Centre tous les onglets */
        width: 100%; /* Occupe toute la largeur disponible */
    }

    .main-container {
        margin-top: 1400px; /* Ajuste l'espace au-dessus du formulaire */
    }
}

/* Écrans de largeur maximale de 768px (petites tablettes et grands téléphones) */
@media (max-width: 768px) {
    .banniere {
        padding: 20px; /* Un peu plus de padding pour les petits écrans */
        height: auto; /* La hauteur s'ajuste automatiquement */
    }

    .logo {
        width: 50px; /* Taille réduite pour les très petits écrans */
    }

    .nom {
        width: 70px; /* S'ajuste pour les petits écrans */
        text-align: center; /* Centre le texte */
    }

    .tab-container {
        flex-direction: row; /* Les onglets sont sur une seule ligne */
        flex-wrap: wrap; /* Permet aux onglets de passer à la ligne suivante */
        justify-content: center; /* Centre tous les onglets */
        width: 100%; /* Occupe toute la largeur disponible */
    }

    .tab-button {
        padding: 10px 15px; /* Réduit la taille des boutons */
        font-size: 14px; /* Réduit la taille de la police */
        margin-bottom: 10px; /* Ajoute de l'espace entre les lignes */
        width: 45%; /* Chaque bouton occupe environ la moitié de la largeur */
    }

    h1 {
        font-size: 1.8rem;
    }

    #sendEmailButton {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .main-container {
        margin-top: 1550px;
    }

}

/* Écrans de largeur maximale de 480px (téléphones) */
@media (max-width: 480px) {
    .banniere {
        padding: 10px; /* Moins de padding pour les très petits écrans */
    }

    .logo {
        width: 50px; /* Taille réduite du logo */
    }

    .nom {
        width: 70px; /* Ajuste la largeur du texte */
        text-align: center; /* Centre le texte */
    }

    .tab-container {
        flex-direction: row; /* Les onglets sont sur une seule ligne */
        flex-wrap: wrap; /* Permet aux onglets de passer à la ligne suivante */
        justify-content: center; /* Centre tous les onglets */
        width: 100%; /* Occupe toute la largeur disponible */
    }

    .tab-button {
        width: 45%; /* Chaque bouton occupe environ la moitié de la largeur */
        padding: 10px 12px; /* Réduit la taille des boutons */
        font-size: 16px; /* Réduit la taille de la police */
        margin-bottom: 10px; /* Ajoute de l'espace entre les lignes */
    }

    .main-container {
        margin-top: 1500px;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-height: 780px) {
    .main-container{
        margin-top: 1000px;
    }
}
@media (min-height: 860px) {
    .main-container{
            margin-top: 850px;
        }
    }


@media (min-height: 970px) {
    .main-container{
            margin-top: 750px;
        }
}

@media (min-height: 1100px) {
    .main-container{
            margin-top: 650px;
        }
}

@media (min-height: 1200px) {
    .main-container{
            margin-top: 500px;
        }
}

@media (min-height: 1300px) {
    .main-container{
            margin-top: 350px;
        }
}
