body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Section de contact */
.contact {
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.contact h2 {
    margin-bottom: 40px;
}

.contact p{
    font-size: 18px;
    color: white;
}

/* Pied de page */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
}

/* Section Banniere */
.banniere {
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    height: 100px;
}

/* Style pour le logo */
.logo {
    width: 60px;
    height: auto;
    margin-left: 80px;
    margin-bottom: 10px;
}

/* Style pour le nom de l'entreprise */
.nom {
    width: 90px;
    height: auto;
    margin-left: -30px;
    margin-right: 80px;
}

/* Container des onglets */
.tab-container {
    display: flex;
    margin: 0px 20px;
}

/* Boutons des onglets */
.tab-button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 20px 25px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease;
}

.tab-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4285f4;
    transition: width 0.3s ease;
}

/* Effet de survol : soulignement */
.tab-button:hover::after {
    width: 100%;
}

/* Effet de survol : changement de couleur du texte */
.tab-button:hover {
    color: #4285f4;
}

/* Vidéo en arrière-plan */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Section Hero */
#hero {
    background-size: cover;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    position: relative;
    z-index: 1;
    padding: 20px;
}

/* Liste des services */
.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    margin-bottom: 40px;
    margin-top: 50px;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Section des services */
#services {
    padding: 15px 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.service-description p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .triangle {
    transform: rotate(180deg);
}

/* Taille des titres */
h1 {
    font-size: 80px;
    margin-bottom: -10px;
    font-family: fantas;
}

.service-description p {
    font-size: 30px;
    font-family: Ga Mamli;
}

#services h2 {
    font-size: 40px;
    font-family: Bunge Spice;
}

#services p {
    font-size: 23px;
    font-family: Bung Spice;
}

h3 {
    font-size: 30px;
}

/* Media Queries pour la responsivité */

/* Écrans de largeur maximale de 1024px (tablettes) */
@media (max-width: 1024px) {
    .banniere {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 50px;
    }

    .nom {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 90px;
    }

    .tab-container {
        flex-direction: column;
        align-items: center;
    }
    .service-description p {
        font-size: 20px;
        width: 600px; /* Réduction de la largeur */
    }
}

/* Écrans de largeur maximale de 768px (petites tablettes et grands téléphones) */
@media (max-width: 768px) {
    .banniere {
        padding: 20px;
        height: auto;
    }

    .logo {
        width: 50px;
    }

    .nom {
        width: 70px;
        text-align: center;
    }

    .tab-container {
        flex-direction: column;
        align-items: center;
    }

    .tab-button {
        padding: 10px 15px;
        font-size: 14px;
    }
    @media (max-width: 768px) {
        .service-description p {
            font-size: 18px;
            width: 90%; /* Ajustement pour occuper la majorité de l'écran */
            margin-left: auto;
            margin-right: auto;
        }
}

/* Écrans de largeur maximale de 480px (téléphones) */
@media (max-width: 480px) {
    .banniere {
        padding: 10px;
    }

    .logo {
        width: 50px;
    }

    .nom {
        width: 70px;
        text-align: center;
    }

    .tab-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .tab-button {
        width: 45%;
        padding: 10px 12px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    @media (max-width: 480px) {
        .service-description p {
            font-size: 16px;
            width: 100%; /* Utilisation de toute la largeur */
            padding: 0 10px; /* Ajout de marges internes pour un meilleur espacement */
            text-align: justify; /* Alignement pour une meilleure lisibilité */
        }
        html, body {
            overflow-x: hidden; /* Cache le débordement horizontal */
        }
}
