/* Section Banniere */
.banniere {
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    height: 100px;
}

/* Style pour le logo */
.logo {
    width: 60px;
    height: auto;
    margin-left: 80px;
    margin-bottom: 10px;
}

/* Style pour le nom de l'entreprise */
.nom {
    width: 90px;
    height: auto;
    margin-left: -30px;
    margin-right: 80px;
}

/* Container des onglets */
.tab-container {
    display: flex;
    margin: 0px 20px;
}

/* Boutons des onglets */
.tab-button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 20px 25px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease;
}
